<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="application.followandfun"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="application.followandfun.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="application.followandfun.gameClassicActivity"
            android:label="@string/title_activity_game_classic" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="application.followandfun.MainActivity" />
        </activity>
        <activity
            android:name="application.followandfun.loseWindowActivity"
            android:label="@string/title_activity_game_classic" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="application.followandfun.MainActivity" />
        </activity>
        <activity
            android:name="application.followandfun.InitialCountDownActivity"
            android:label="@string/title_activity_game_classic" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="application.followandfun.MainActivity" />
        </activity>
        <activity
            android:name="application.followandfun.TutorialActivity"
            android:label="@string/title_activity_game_classic" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="application.followandfun.MainActivity" />
        </activity>
        <activity
            android:name=".TutorialScreens"
            android:label="@string/title_activity_game_classic" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="application.followandfun.MainActivity" />
        </activity>
                <activity
            android:name=".RescameLabs"
            android:label="@string/title_activity_game_classic" >
                    <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="application.followandfun.MainActivity" />
        </activity>
    </application>

</manifest>